h4{
    text-align: left;
    margin-left:53px;
    margin-right:53px;
    color:black;
    margin-top: 150px;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 63px;
    margin-right: 63px;
    margin-top: 20px;
  }
  img 
  {
      width:70px;
      height:70px;
      padding-top: 10px;
  }
  .category-title{
    font-size:14px;
    font-weight:lighter;
    color:#212121;
    line-height: 18px;
  
}
.padding2
{
  padding-top: 22px;
  text-align: center;
}
  .card2-style {
    font-family: "Amazon Ember",Arial,sans-serif;
    width: 146px;
    height:140px;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 6px;
    margin-right: 6px;
  }