.first-style {
    font-family: "Amazon Ember", Arial, sans-serif;
    color: black;
    text-align: left;
    margin-left: 65px;
    margin-top: 50px;
}

.h6-style {
    font-family: "Amazon Ember", Arial, sans-serif;
    color: black;
    text-align: left;
    margin-left: 65px;
}

.second-style {
    font-family: "Amazon Ember", Arial, sans-serif;
    color: black;
    text-align: left;
    margin-left: 65px;
    margin-top: 10px;
}

.row-style {
    margin-top: 140px;
    margin-left: 20px;
    margin-right: 20px;
}

.card1-style {
    font-family: "Amazon Ember", Arial, sans-serif;
    /* margin-top:130px; */
    text-align: center;
    width: 268px;
    height: auto;
    cursor: pointer;
    transition: 0.4s;
    background-color: white;
}


/* .card1-style:hover {
    transform: scale(1.1, 1.1);
  } */

.offer-title {
    color: #0066c0;
    margin-top: 14px;
    font-size: 16px;
    padding: 8px;
    line-height: 23px;
}

.max-lines {
    display: block;
    /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2.6em;
    line-height: 1.8em;
}

.max-lines2 {
    display: block;
    /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2em;
    line-height: 1.8em;
}

.offer-author {
    color: #fa5b45;
    font-weight: bolder;
    font-size: 16px;
}

.offer-date {
    color: #837B7C;
    font-weight: bolder;
    font-size: 16px;
}