
.first-col
{
    padding-left: 60px;
}
.second-col
{
    margin-left: 60px;
}
@media(max-width:990px)
{
    .second-col
    {
        margin-top:0px;
        margin-left: 0px;
    }
}
.input-padding
{
    margin-right:3px;
}
.input2-padding
{
    margin-left:12px;
}
.title-padding
{
    margin-left: -4px;
    padding-bottom: 30px;
    color:black;
    margin-top: 60px;
}
.title2-padding
{
    margin-left: 40px;
    padding-bottom: 30px;
    color:black;
    margin-top: 60px;
}
/* .third-col
{
    margin-top:175px;
    
} */
.price-style
{
    color:black;
    font-size: 18px;
    line-height: 21px;
    justify-content: flex-start;
    padding-top: 10px;
}
.save-btn
{
    width:30%;
    margin-bottom:30px;
}

.apply-btn
{
    width:100%;
    margin-bottom:30px;
}

.summary-style
{
    color:#757575;
    font-size: 18px;
    line-height: 21px;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 14px;
    /* display:flex; */
}

.cont-style
{
    background-color: white;
}