.col2-style
{
    text-align: center;
}
.image-style
{
    height:75px;
    width:75px;
}
.mac-style
{
    width:125px;
    height:75px;
}
.glass-style
{
    height:75px;
     width:95px; 
}
.toy-style
{
    height:85px;
     width:75px; 
}
.brand-style
{
    height:40px;
    width:100px;
}
@media (max-width:560px)
{
    .col2-style
  {
   /* padding-left:150px; */
    padding-top: 30px;
   text-align: center;
  }
}