.footer-style
{
    background-color:#0B153E;
    color:white;
    margin-top: 220px;
}
h6{
    color:white;
    font-weight: normal;
    
}
.a-style
{
    color:#EDF3FA;
    font-size: 18px;
}
.a-style:hover
{
    color:#EDF3FA
}
.p-style
{
    color:#E6F0FA;
    font-weight: normal;
}
h3{
    font-weight: lighter;   
}
@media (max-width:560px)
{
    .p-style{
        font-size: 10px;
    }
    .a-style
    {
        font-size: 14px;
    }
    h3{
        font-size:larger;
    }
}